*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

main {
  width: 90%;
  margin: 8px auto 2px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search {
  width: 100%;
  background: #eeeeee;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 300px;
}
.search p {
  margin: 0;
}

footer {
  width: 90%;
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1px;
}

.first {
  width: 36.99%;
  background: #7ee5da;
}
.second {
  background: #70ccc2;
  width: 21.99%;
  font-size: 13px;
}

.third {
  width: 39.99%;
  background: #62b3aa;
  font-size: 13px;
  text-align: center;
}
.copyright {
  margin-top: 1rem;
  font-size: 13px;
}
